= simple_form_for(@entry, :html => {:multipart => true}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :email
    = f.label :caption
    = f.text_area :caption, :size => '50x10', :label => 'Caption'
    = f.association :category
    = f.label :image
    = f.file_field :image

  .form-actions
    = f.button :submit
