%h1 Listing entries

%table
  %tr
    %th Votes
    %th Name
    %th Email
    %th Caption
    %th Category
    %th IP
    %th
    %th
    %th

  - @entries.each do |entry|
    %tr
      %td= entry.reputation_for(:votes).to_i
      %td= entry.name
      %td= entry.email
      %td= entry.caption
      %td= entry.category_id
      %td= entry.ip

      %td= link_to 'Show', entry
      %td= link_to 'Edit', edit_entry_path(entry)
      %td= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Entry', new_entry_path
