-#%p#notice= notice

= image_tag(@entry.image_url.to_s, :class =>"img-polaroid")
-#= link_to "vote", vote_entry_path(@entry), method: "post", :class => "btn btn-small"

- if user_signed_in?
  = "(" + pluralize(@entry.reputation_for(:votes).to_i, "vote") + ")"

%p
  %b Name:
  = @entry.name
%p

%p
  %b Caption:
  = @entry.caption
%p
  %b Category:
  = @entry.category.name

= simple_form_for(@vote, :url => vote_entry_path(@entry)) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, :required => true
    = f.input :email
    = f.button :submit, 'Vote'
-#
-#= link_to 'Back', entries_path
