%p#notice= notice

%p
  %b Name:
  = @entry.name
%p
  %b Email:
  = @entry.email
%p
  %b Caption:
  = @entry.caption
%p
  %b Category:
  = @entry.category_id
%p
  %b Image:
  = @entry.image

= link_to 'Edit', edit_entry_path(@entry)
\|
= link_to 'Back', entries_path
