!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Compapp"
      %meta{:content => content_for?(:description) ? yield(:description) : "Compapp", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .row.client-header

          =image_tag("client-header.png")
          =link_to "SUBMIT ENTRY", new_entry_path, :class => "btn btn-large btn-primary client-header-submit"


        .row.comp-desc
          %h3
            Competition Text BLH BLAH BLAH BLH BLAH BLAH BLH BLAH BLAH BLH BLAH BLAH BLH BLAH BLAH BLH BLAH BLAH BLH BLAH BLAH BLH BLAH BLAH
            BLH BLAH BLAH BLH BLAH BLAH BLH BLAH BLAH BLH BLAH BLAH BLH BLAH BLAH BLH BLAH BLAH BLH BLAH BLAH BLH BLAH BLAH

        -#.row -- ORIGINAL
        -#  .span12
        -#    = render 'layouts/messages'
        -#    = yield


        =yield

        %footer
          = render 'layouts/footer'
      / ! end of .container
    / ! end of #main
